nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b2330;
    padding: 20px 80px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.06);
}
#narbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#narbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#narbar li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    color: #fff;
    transition: 0.3s ease-in-out;
}

#narvar li a:hover,
#narvar li a.active{
    color: #17cf97
}

#narbar li a:hover::after,
#narbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.btn {
    width: 95px;
}

